<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="cameraPreview" class="cameraPreview">
      <div *ngIf="cameraActive">
          <img src="./assets/overlay.png" class="image-overlay">

          <ion-button (click)="stopCamera()" expand="block" id="close">
            <ion-icon name="close-circle" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button (click)="captureImage()" expand="block" id="capture">
              <ion-icon name="camera" slot="icon-only"></ion-icon>
            </ion-button>

            <ion-button (click)="flipCamera()" expand="block" id="flip">
                <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
            </ion-button>

      </div>
    </div>
    <ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>
    <ion-button (click)="openCamera()" expand="full" *ngIf="!cameraActive">Open Camera</ion-button>
    <ion-button (click)="saveImage()" expand="full" *ngIf="save">Save Image</ion-button>
  </div>

</ion-content>
